@model IEnumerable<ProjectsTrackerSibers.Domain.Entity.Project>

<a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Create">Create proj</a>
@if(Model is null)
{
	<p>There is no Projects</p>
}
else
{
	@foreach (var proj in Model)
	{
		<div>
			<p>@proj.Name</p>
			<a  asp-area="" asp-controller="Project" asp-action="Edit" asp-route-id="@proj.Id">edit</a>
			<a asp-area="" asp-controller="Project" asp-action="Delete" asp-route-id="@proj.Id">delete</a>			
		</div>	
	}
}
